In [1]:
import os
import pandas as pd
from pathlib import Path
import pickle

In [2]:
# Set working directory
os.chdir(os.path.dirname(os.getcwd()))
os.getcwd()

'/home/ubuntu/diabetes_detection'

In [3]:
# Import local libraries
from src.logger import set_logger as sl
from src.link_files import link_files

In [4]:
# Load t2d prs table for top 1%
prs_top1 = pd.read_table("data/T2D_PMID_30297969.all_score_top_one", sep="\s+")
prs_top1.head()

       FID      IID      Pt_1  T2D
0  5150517  5150517  7.404651    0
1  5884606  5884606  6.066198    0
2  1033089  1033089  5.800283    0
3  2865096  2865096  5.707216    0
4  1496831  1496831  5.703456    1

In [6]:
# Load true t2d patients
with open("data/pickles/all-t2d.pkl", "rb") as f:
    all_t2d = pickle.load(f)

In [7]:
print(len(set(prs_top1[prs_top1.T2D == 1].IID.values)))

682

In [8]:
fun = pd.DataFrame([i.split("_") for i in all_t2d], columns=["id","eye","take","replica"])
tograde = fun[fun.eye == "21015"][:500].apply(lambda x: "_".join(x.values), axis=1)

In [9]:
tograde.to_csv("data/t2d_2grade.txt")

In [11]:
link_files("/mnt/ukbb/raw/", "data/2grade/", tograde.values)

100%|██████████| 500/500 [00:00<00:00, 52946.35it/s]